.list-entry-container {
  display: flex;
}

.list-entry-container.hover {
  background: linear-gradient(to right, #ffffff 0%, #eeeeee 50%, #ffffff 100%);
}

.list-entry-container.selected {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(245, 245, 245, 0.8) 100%
  );
}

.list-entry-container.hover-wizard {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(230, 239, 255, 0.8) 100%
  );
}

.list-entry-container.selected-wizard {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(230, 239, 255, 0.8) 100%
  );
}

.list-entry-container.left-right {
  flex-direction: row;
}

.list-entry-container.up-down {
  flex-direction: column;
}

.list-entry-container.title-line {
  align-items: baseline;
}

.list-entry-container.center {
  align-items: center;
  justify-content: center;
}

.list-entry-main {
  flex: 1;
}

.list-entry-left {
  flex-shrink: 0;
  flex-grow: 0;
  width: 229px;
  padding-right: 15px;
  padding-left: 15px;
  transition: width ease-in-out 0.5s;
}

.list-entry-left.selected {
  width: 359px;
}

.list-entry-left > img {
  width: 100%;
  object-fit: contain;
  object-position: top;
  height: 100%;
}
.list-entry-middle {
  flex: 1;
}

.list-entry-running {
  font-size: 12px;
  font-style: italic;
  color: #555555;
  padding-left: 10px;
}

.list-entry-buttons {
  padding-top: 10px;
  padding-bottom: 10px;
}

.server-icon {
  height: 20px;
  width: 20px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 2px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}