li.nostyle {
    list-style-type: none;
}

.experiment-page {
    height: 100vh;
    display: grid;
    grid-template-rows: 200px auto;
    grid-template-columns: auto minmax(250px, 500px) minmax(250px, 500px) auto;
    grid-template-areas:
        "header header header header"
        "experiments experiments experiments experiments";
}
  
.experiment-list-header {
    grid-area: header;
}

.experiment-page-experiments {
    text-align: left;
    grid-area: experiments;
    color: black;
    background-color: white;
}