li.nostyle {
    list-style-type: none;
}

.experiment-list-wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
        "experiments";
}

.experiment-list {
    text-align: left;
    grid-area: experiments;
    color: black;
    background-color: white;
}

.no-items-notification {
    margin: 10px;
    font-size: 1.5em;
    font-weight: bold;
}