.simulations-details-wrapper {}

.table-header {
  font-weight: bold;
}

.table-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.table-column-last {
  grid-area: 1 / -2 / 2 / -1;
}