.App {
  text-align: center;
  background-color: black;
  background-image: url('./assets/images/Artificial_Intelligence_2.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 10hv;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.app-body {
  min-height: 90hv;
}

h1 {
  font-family: 'Open Sans', sans-serif, Arial, Helvetica;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
