.App {
  text-align: center;
  color: white;
  background-color: black;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 300px auto;
  grid-template-columns: auto minmax(250px, 500px) minmax(250px, 500px) auto;
  grid-template-areas:
    ". app-header app-header ."
    ". app-banner app-banner ."
    "app-sidebar-left app-experiments-left app-experiments-right app-sidebar-right";

  background-image: url("./assets/images/Artificial_Intelligence_2.jpg");
  background-size: 800px;
  background-position-x: center;
  background-repeat: no-repeat;
}

.App-header {
  grid-area: app-header;
  min-height: 10hv;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 15px;
}

.app-banner {
  grid-area: app-banner;
  max-width: 1000px;
}

.app-banner h1 {
  margin: 0px;
  padding: 50px;
  text-align: left;
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-weight: normal;
}

.app-experiments-left {
  grid-area: app-experiments-left;
  color: black;
  background-color: white;
  text-align: left;
}

.app-experiments-right {
  grid-area: app-experiments-right;
  color: black;
  background-color: white;
  text-align: left;
}

.app-sidebar-left {
  grid-area: app-sidebar-left;
  background-color: white;
}

.app-sidebar-right {
  grid-area: app-sidebar-right;
  background-color: white;
}
