.experiment-files-viewer-wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: 50px auto;
    grid-template-columns: 40% auto;
    grid-template-areas:
        "sync-dir-picker sync-dir-picker"
        "experiment-list experiment-files";
}

.sync-dir-picker {
    grid-area: sync-dir-picker;
}
  
.experiment-list {
    grid-area: experiment-list;
}
  
.experiment-files {
    grid-area: experiment-files;
}