.experiment-files-viewer-wrapper {
    height: 100vh;
    margin: 20px;
    display: grid;
    gap: 15px;
    grid-template-rows: 110px auto;
    grid-template-columns: 40% auto;
    grid-template-areas:
        "local-directory-picker selected-file-info"
        "experiment-list experiment-files";
}

.grid-element {
    border: 1px solid lightgray;
}

.grid-element-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 5px 5px 15px;
    margin-bottom: 5px;
    width: 100%;
    background-color: #048cb4;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
}

.grid-element-header-buttons {
    font-size: 0.8em;
    background-color: white;
}

.local-directory-picker {
    grid-area: local-directory-picker;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.elements-local-directory {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.local-directory-name {
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 10px;
    border: 1px solid black;
    min-width: 250px;
}
  
.experiment-list {
    grid-area: experiment-list;
}

.experiment-files-list {
    padding-left: 5px;
}

.experiment-files-list li {
    list-style-type: none;
    margin: 2px 5px 2px 5px;
    padding-left: 10px;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experiment-files-list li:hover {
    background-color: lightblue;
}

.experiments-li-selected {
    border-left: 5px solid #048cb4;
}

.experiments-li-disabled {
    color: gray;
}

.experiment-li-buttons {
    justify-self: flex-end;
}
  
.experiment-files {
    grid-area: experiment-files;
}

.selected-file-info {
    grid-area: selected-file-info;
    padding: 10px;
    overflow: auto;
}

.fileinfo-group {
    padding-bottom: 5px;
}

.fileinfo-entry {
    padding-left: 5px;
}

.fileinfo-name {
    font-weight: bold;
}

.treeview {
    flex-grow: 1;
    max-width: 400;
    padding-left: 10px;
}

.experiment-file-local {
    color: black;
}

.file-local-changes {
    color: darkorange;
}

.file-dirty {
    color: red;
}

.file-local-only {
    color: green;
}

.file-server-only {
    color: lightgray;
}